@charset "utf-8";
@import "./var.css";
.loading{
	/* border:1px solid red; */
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:var(--c0);
	z-index:5;
}
.loading::before{
	background:url("../img/bg/2.gif") no-repeat center;
	top:0;
	bottom:0;
	left:0;
	right:0;
	position:absolute;
	content:"";
	z-index:6;
	
}