@charset "UTF-8";
:root{
	--fc1:#666666;
	--fc2:#f3bda1;
	--fc3:#687980;
	--fc4:#02475e;
	--fs1:1em;
	--fs2:2em;
	--fs3:5em;
	--c1:#efeeb4;
	--c2:#dad873;
	--c3:#58b368;
	--c4:#309975;
	--c5:#454d66;
	--c0:#fff;
}
